name: Deploy to GCP

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: 'projects/481318/locations/global/workloadIdentityPools/emopulse-pool/providers/github-provider'
          service_account: 'emopulse-deployer@emopulse-481318.iam.gserviceaccount.com'

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v1

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy emopulse-service \
            --source . \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated
          echo Add other actions to build,
          echo test, and deploy your project.
