name: Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: projects/1009590211108/locations/global/workloadIdentityPools/github-pool/providers/github-provider2
          service_account: emopulse-deployer@emopulse-481318.iam.gserviceaccount.com

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: emopulse-481318

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy emopulse-api \
            --source . \
            --region europe-west4 \
            --allow-unauthenticated \
            --quiet

      - name: Deploy
        run: gcloud app deploy --quiet
          curl -s $URL || exit 1
